.Image{
    width: 100%;
    height: 200px;
}

.Description{
    width: 100%;
    height: 100px;
    object-fit: cover;
    overflow: hidden ;
}

.Title{
    width: 100%;
    height: 50px;
    object-fit: cover;
    overflow: hidden ;
}